gunicorn
packaging
faster_whisper
numpy
torch
torchaudio
transformers
ffmpeg-python
librosa
scipy
sklearn
pyannote.audio
pyannote.core
pyannote.metrics
pyannote.pipeline
pyyaml
tqdm
render
fastapi
uvicorn