gunicorn
packaging
faster_whisper
numpy
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
ffmpeg-python
librosa
scipy
scikit-learn
pyannote.audio==3.1.1
pyannote.core
pyannote.metrics
pyannote.pipeline
pyyaml
tqdm
fastapi
uvicorn